.radio {
  text-align: center;
  clear: both;
}

.radio input {
  margin: 0 5px;
}

.graph-div {
  border: 3px solid #a0a0a0;
  padding: .2%;
  margin: .5%;;
  float: left;
  text-align: center;
  width: 30%;
}

.one-div {
  width: 85%;
  height: 75%;
  border: 3px solid #a0a0a0;
  padding: .2%;
  margin: auto;
  text-align: center;
}

div {
  display: block;
}

.chart-canvas {
  display: block;
  margin: auto;
}


li a, .dropbtn {
    display: block;
    color: white;
    background-color: #3572b0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #205081;
}

li.dropdown {
  display: block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: auto;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}
