.radio {
  text-align: center;
  clear: both;
}

.left-div, .right-div {
  border: 3px solid #a0a0a0;
  padding: .2%;
  margin: .5%;
  float: left;
  text-align: center;
}

.one-div {
  width: 75%;
  height: 75%;
  border: 3px solid #a0a0a0;
  padding: .2%;
  margin: auto;
  text-align: center;
}

.left-div {
  width: 30%;
}

.right-div {
  width: 60%;
}

.right-div > div {
  width: 50%;
  float: left;
}

div {
  display: block;
}
