
.border-div {
  text-align: center;
  border-width: thin;
  border: solid #000000 3px;
}

.radio {
  text-align: center;
  clear: both;
}

.left-div, .right-div {
  border: 3px solid #a0a0a0;
  padding: 10px;
  margin: 10px;
  float: left;
}

.left-div {
  width: 30%;
}

.right-div {
  width: 60%;
}

.right-div > div {
  width: 50%;
  float: left;
}
